@model UmbracoDemoSite.Models.ContactFormViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Thank";
}

<h2>Thank @Model.Name for contact us,
    We will be in touch very soon !! </h2>

