@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<UmbracoDemoSite.Models.GenericPageViewModel>
   
@{   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <h2>@ViewBag.Parameter</h2>

@Model.Content.PageContent

