
@inherits UmbracoViewPage<UmbracoDemoSite.Models.BannerViewModel>

<p>Hello from banner View</p>


@if (Model != null)
{
    <div>
        <img src=@Model.Image.Url alt="" height="250" width="600">
        <br />
        <button type="button" onclick="window.open('@Model.Link.First().Link','@Model.Link.First().NewWindow)">Go</button>
    </div>
}